* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

#nav-bar {
    background-color: #3b5998;
    height: 15vh;
    display: flex;
    justify-content: center;


}

#navbar-content-container {
    display: flex;
    width: 960px;
    justify-content: space-between;


}


#facebook-header {
    color: white;
    font-size: 40px;
    align-self: flex-end;
    font-weight: bold;
}

#login-form {
    display: flex;
    color: white;
    align-self: center;
    font-size: 14px;
    position: relative;
    top: 5px;
}

.login-inputs {
    width: 170;
    height: 25px;
    margin: 3px 12px 3px 0;
}

.login-p {}

#forget-password {
    color: lightgray;
}

#login-button {
    height: 25px;
    width: 45px;
    background-color: #4267b2;
    border: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-self: center;

}